* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
.nav {
	display: flex;
	align-items: center;
	background: linear-gradient(to bottom right, #9acd32, #769655);
	justify-content: center;
}

.material-symbols-outlined {
	font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}
.logo-container {
	display: flex;
	align-items: center;
	p {
		font-size: 30px;
	}
	span {
		font-size: 40px;
	}
}
.image-container {
	display: flex;
	background-image: url("/src/images/commonarea_1440.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	padding: 50px 0 50px;
}

.header-content {
	color: black;
	font-size: 15px;
	line-height: 1.5;
	width: 100%;
	div {
		text-align: center;
		background: linear-gradient(
			to right,
			rgba(255, 255, 255, 0) 0%,
			/* Transparent at 0% */ rgba(255, 255, 255, 0.7) 25%,
			/* Opacity 0.2 at 25% */ rgba(255, 255, 255, 0.5) 50%,
			/* Opacity 0.4 at 50% */ rgba(255, 255, 255, 0.4) 60%,
			/* Opacity 0.6 at 60% */ rgba(255, 255, 255, 0.2) 65%,
			/* Opacity 0.6 at 60% */ rgba(255, 255, 255, 0.2) 70%,
			/* Opacity 0.6 at 60% */ rgba(255, 255, 255, 0.4) 75%,
			/* Opacity 0.4 at 75% */ rgba(255, 255, 255, 0.5) 85%,
			/* Opacity 0.2 at 85% */ rgba(255, 255, 255, 0.7) 100%
				/* Transparent at 100% */
		);
	}
}
.circular-image-one {
	position: absolute;
}
.circular-image {
	border-radius: 50%;
	/* Optional: Define width and height for the image to ensure it appears as a circle */
	width: 70px; /* Adjust width as needed */
	height: 70px; /* Adjust height as needed */
}
.circular-image-left {
	left: 0;
	transform: translateX(25%);
}

.circular-image-right {
	right: 0;
	transform: translateX(-25%);
}
.service-container {
	background: linear-gradient(to bottom right, #9acd32, #769655);
	text-align: center;
}
.service-box {
	padding: 20px 50px;
}
.service-box-image {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}
