* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Quicksand", sans-serif;
}
/*avaliable fonts
/* font-family: 'Antonio', sans-serif;
font-family: 'League Spartan', sans-serif;
font-family: 'Quicksand', sans-serif; */
.nav {
	display: flex;
	align-items: center;
	background: linear-gradient(to bottom right, #9acd32, #769655);
	justify-content: center;
}

.material-symbols-outlined {
	font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}
.logo-container {
	display: flex;
	align-items: center;
}
.logo-container p {
	font-size: 30px;
}
.logo-container span {
	font-size: 40px;
}
.image-container {
	text-align: center;
	background-image: url("/src/images/commonarea_1440.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	padding: 50px 0 50px;
}

.header-content {
	font-family: cursive;
	font-weight: 700;
	font-size: 15px;
	line-height: 1.5;
	width: 100%;
}
.header-content-text {
	text-align: center;
	background: linear-gradient(
		to right,
		rgba(255, 255, 255, 0.7) 0%,
		/* Transparent at 0% */ rgba(255, 255, 255, 0.6) 25%,
		/* Opacity 0.2 at 25% */ rgba(255, 255, 255, 0.5) 50%,
		/* Opacity 0.4 at 50% */ rgba(255, 255, 255, 0.4) 60%,
		/* Opacity 0.6 at 60% */ rgba(255, 255, 255, 0.2) 65%,
		/* Opacity 0.6 at 60% */ rgba(255, 255, 255, 0.4) 70%,
		/* Opacity 0.6 at 60% */ rgba(255, 255, 255, 0.5) 75%,
		/* Opacity 0.4 at 75% */ rgba(255, 255, 255, 0.6) 85%,
		/* Opacity 0.2 at 85% */ rgba(255, 255, 255, 0.7) 100%
			/* Transparent at 100% */
	);
}
.about-container {
	background: linear-gradient(to bottom left, #769655, #9acd32),
		url("./images/bambooMedium.png");
	font-weight: 500;
	text-align: center;
	padding: 30px 30px 0;
	font-size: 16px;
	line-height: 1.7;
}
.about-container-text {
	padding-bottom: 30px;
}
.about-container-image {
	margin-bottom: 20px;
}
.circular-image-one {
	position: absolute;
}
.circular-image {
	border-radius: 50%;
	/* Optional: Define width and height for the image to ensure it appears as a circle */
	width: 90px; /* Adjust width as needed */
	height: 90px; /* Adjust height as needed */
}
.circular-image-left {
	left: 0;
	transform: translateX(25%);
}

.circular-image-right {
	right: 0;
	transform: translateX(-25%);
}
.service-container {
	background: linear-gradient(to bottom right, #9acd32, #769655);
	text-align: center;
}
@media only screen and (min-width: 768px) {
	.service-container {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}
	.circular-image {
		border-radius: 50%;
		/* Optional: Define width and height for the image to ensure it appears as a circle */
		width: 100px; /* Adjust width as needed */
		height: 100px; /* Adjust height as needed */
	}
}
.service-box {
	padding: 20px 0px 10px;
}
.service-box h3 {
	opacity: 0.7;
}
.service-box-image {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}
